@model ToDoListWeb.Models.ToDoList

@{
    ViewData["Title"] = Model.Name;
}
<div class="pull-right">
    <a asp-action="Index" class="btn btn-default">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<h2>@Model.Name <small>Items</small></h2>

@Html.Partial("_ToDoItems", Model.ToDoItems)

